
<!-- Side nav -->
<nav class="side-nav" role="navigation">

  <ul class="nav-side-nav">
    <li><a class="tooltip-side-nav" href="#to-top" title="" data-original-title="top" data-placement="left"></a></li>
    <li><a class="tooltip-side-nav" href="#section-1" title="" data-original-title="Services" data-placement="left"></a></li>
    <li><a class="tooltip-side-nav" href="#section-2" title="" data-original-title="Features" data-placement="left"></a></li>
    <li><a class="tooltip-side-nav" href="#section-3" title="" data-original-title="Subscribe" data-placement="left"></a></li>
  </ul>
  
</nav> <!-- /.side-nav -->




<!-- Jumbotron -->
<header class="jumbotron" role="banner">

  <div class="container">

    <div class="row">

      <div class="col-md-7">

        <!-- Logo -->
        <figure class="text-center" style="margin-bottom: 150px;">
          <a href="./index.html">
            <!--<img class="img-logo" src="images/logo.png" alt="">-->
          </a>
        </figure> <!-- /.text-center -->

        <!-- Title -->
        <h1>茂号</h1>

        <!-- Sub title -->
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;茂号是一款基于优惠信息的服务平台。旨在为当地民众提供便捷，高效的互联网生活服务。</p>

        <!-- Button -->
        <p class="btn-app-store">
          <a class="btn btn-danger btn-lg" href="http://www.maohow.com/download/maohowV1.0.5.apk" target="_block">
            <span class="fa fa-android"></span>&nbsp;&nbsp;V1.0.5下载
          </a>
          <a class="btn btn-danger btn-lg" href="http://www.maohow.com/download/maohowV1.0.5.ipa">
            <span class="fa fa-apple"></span>&nbsp;&nbsp;V1.0.5越狱版
          </a>
          <br>
          <a class="btn btn-danger btn-lg" href="http://www.maohow.com/download/maohaoMerchantV1.0.2.apk">
            <span class="fa fa-android"></span>&nbsp;&nbsp;Android商家版
          </a>
        </p> <!-- /.btn-app-store -->

      </div> <!-- /.col-md-7 -->

      <div class="col-md-5">

        <!-- Images showcase -->
        <figure>
          <%= image_tag 'iphone/2.png', class: "img-iPhone", alt: "" %>
        </figure>

      </div> <!-- /.col-md-5 -->
      
    </div> <!-- /.row -->
    
  </div> <!-- /.container -->

</header> <!-- /.jumbotron -->

<!-- Services -->
<section class="services-section" id="section-1">

  <div class="container">

    <div class="row">

      <div class="col-md-4 col-services">
        
        <!-- Icons -->
        <figure>
          <%= image_tag 'icons/flag.png', class: "img-services", alt: "" %>
        </figure>

        <!-- Title -->
        <h4>享优惠</h4>

        <!-- Description -->
        <p>出示给商家，扫码成功即可享受优惠</p>

      </div> <!-- /.col-md-4 -->

      <div class="col-md-4 col-services">
        
        <!-- Icons -->
        <figure>
          <%= image_tag 'icons/search.png', class: "img-services", alt: "" %>
        </figure>

        <!-- Title -->
        <h4>搜罗</h4>

        <!-- Description -->
        <p>快速搜罗本地优惠信息</p>

      </div> <!-- /.col-md-4 -->

      <div class="col-md-4 col-services">
        
        <!-- Icons -->
        <figure>
          <%= image_tag 'icons/world-map.png', class: "img-services img-margin", alt: "" %>
        </figure>

        <!-- Title -->
        <h4>走街串巷</h4>

        <!-- Description -->
        <p>着眼于分布在大街小巷上的个体商家</p>

      </div> <!-- /.col-md-4 -->
      
    </div> <!-- /.row -->
    
  </div> <!-- /.container -->
  
</section> <!-- /.services-section -->




<!-- Features -->
<section class="features-section" id="section-2">

  <div class="container">

    <div class="row">

      <div class="col-md-5 col-features text-center">
        
        <!-- Images showcase -->
        <figure>
          <%= image_tag 'iphone/1.png', class: "img-iPhone", alt: "" %>
        </figure>

      </div> <!-- /.col-md-5 -->

      <div class="col-md-7 col-features features-content">
        
        <!-- Title -->
        <h3 id="title-1">逛商场</h3>

        <!-- Description -->
        <p>轻松定位距离最近的商场，商场内商户优惠促销信息，最新活动…<br>在家打麻将喝茶也一目了然。</p>

      </div> <!-- /.col-md-7 -->
      
    </div> <!-- /.row -->




    <div class="row media-screen-800">

      <div class="col-md-7 col-features features-content">
        
        <!-- Title -->
        <h3 id="title-2">走街串巷</h3>

        <!-- Description -->
        <p>打开茂号APP，搜索附近的小商铺，路边摊，苍蝇馆子里的热气腾腾，小推车上的儿时味觉，不见不散。</p>
        
      </div> <!-- /.col-md-7 -->

      <div class="col-md-5 col-features text-center">
        
        <!-- Images showcase -->
        <figure>
          <%= image_tag 'iphone/4.png', class: "img-iPhone margin-top margin-screen-800", alt: "" %>
        </figure>

      </div> <!-- /.col-md-5 -->
      
    </div> <!-- /.row -->

    <div class="row">

      <div class="col-md-5 col-features text-center">
        
        <!-- Images showcase -->
        <figure>
          <%= image_tag 'iphone/3.png', class: "img-iPhone margin-top margin-top-1", alt: "" %>
        </figure>

      </div> <!-- /.col-md-5 -->

      <div class="col-md-7 col-features features-content">
        
        <!-- Title -->
        <h3 id="title-3">优惠券</h3>

        <!-- Description -->
        <p>我们始终相信没有最会玩儿的，只有更惠玩儿的。带着家人搓一顿，叫上朋友打开茂号嗨一嗨。</p>


      </div> <!-- /.col-md-7 -->
      
    </div> <!-- /.row -->

  </div> <!-- /.container -->

</section> <!-- /.features-section -->


<!-- Subscribe -->
<section class="subscribe-section" id="section-3">

  <div class="container">

    <div class="row">

      <div class="col-md-12">

        <!-- Title -->
        <h2>订阅得到令人欣喜的频繁更新</h2>

        <!-- Subscribe form -->
        <div class="row">

          <div class="col-md-6 col-md-offset-3 col-subscribe">

            <form class="subscribe-form form-inline" action="./index.html" role="form">

              <!-- Input -->
              <div class="form-group">

                <label class="sr-only" for="exampleInputEmail1">邮箱地址</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="输入邮箱地址">

              </div> <!-- /.form-group -->

              <!-- Button -->
              <button class="btn btn-success" type="submit">订阅</button>
              
            </form> <!-- /.subscribe-form -->



            <section class="subscribe-description">

              <p>别担心. 我们不发送垃圾邮件 :)</p>
              
            </section> <!-- /.subscribe-description -->
            
          </div> <!-- /.col-md-6 -->

        </div> <!-- /.row -->
        
      </div> <!-- /.col-md-12 -->
      
    </div> <!-- /.row -->

  </div> <!-- /.container -->

</section> <!-- /.subscribe-section -->




<!-- Footer -->
<footer class="footer-section" role="contentinfo">

  <div class="container">

    <div class="row">

      <div class="col-md-4 col-md-offset-4 col-footer col-padding">
        
        <!-- Footer 1 -->
        <section class="text-center">
          <p>博鸿商业运营管理有限公司 <a href="https://github.com/tkvern">@</a> by <a href="https://github.com/tkvern">Top Tech</a></p>
        </section>

        <!-- Social media links -->
        <ul class="social-media-links">
          
          <li><a class="-mob-share-qq fa fa-qq qq" title="分享到QQ"></a></li>
          <li><a class="-mob-share-weixin fa fa-wechat wx" title="分享到微信"></a></li>
          <li><a class="-mob-share-weibo fa fa-weibo pn" title="分享到新浪微博"></a></li>
          <li><a class="-mob-share-facebook fa fa-facebook fb" title="分享到facebook"></a></li>
          <li><a class="-mob-share-twitter fa fa-twitter tw" title="分享到twitter"></a></li>
          
        </ul> <!-- /.social-media-links -->

      </div> <!-- /.col-md-4 -->
      
    </div> <!-- /.row -->

  </div> <!-- /.container -->

</footer> <!-- /.footer-section -->

<!-- Placed at the end of the document so the pages load faster -->
<script id="-mob-share" src="http://f1.webshare.mob.com/code/mob-share.js?appkey=bf13c9273ee2"></script>

<script type="text/javascript">
  $(function() {
  
    /*-----------------------------------------------------------------------------------*/
    /*  Anchor Link
    /*-----------------------------------------------------------------------------------*/
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
        || location.hostname == this.hostname) {
  
        var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
          return false;
        }
      }
    });
  
    /*-----------------------------------------------------------------------------------*/
    /*  Tooltips
    /*-----------------------------------------------------------------------------------*/
    $('.tooltip-side-nav').tooltip();
    
  });

  mobShare.config( {
 
    debug: true, // 开启调试，将在浏览器的控制台输出调试信息
 
    appkey: 'bf13c9273ee2', // appkey
 
    params: {
        url: 'http://www.maohow.com/', // 分享链接
        title: '茂号  基于本地的线上线下全渠道综合服务平台', // 分享标题
        description: '茂号是一款面向三四线城市，基于本地的线上线下全渠道综合服务平台。旨在为当地民众提供便捷，高效的互联网生活服务。', // 分享内容
        pic: 'http://maohow.com/images/iphone/2.png, http://maohow.com/images/iphone/3.png', // 分享图片，使用逗号,隔开
    },
 
    /**
     * 分享时触发的回调函数
     * 分享是否成功，目前第三方平台并没有相关接口，因此无法知道分享结果
     * 所以此函数只会提供分享时的相关信息
     * 
     * @param {String} plat 平台名称
     * @param {Object} params 实际分享的参数 { url: 链接, title: 标题, description: 内容, pic: 图片连接 }
     */
    callback: function( plat, params ) {
    }
 
  } );
</script>