<div class="col-md-4 col-md-offset-4" style="top: 18%;">
  <!-- tile -->
  <section class="tile color transparent-black">
    <!-- tile header -->
    <div class="tile-header text-center">
      <h1><strong>茂号</strong>  商家平台</h1>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body nopadding">
      <%= form_for(:password, url: seller_forget_password_path, method: "post", html: { class: "form-horizontal form-padd", style: "margin:0 auto 4%; padding: 0 50px;" }) do |f| %>
        <div class="form-group">
            <h2 style="font-weight: 300;font-size:18px;">找回密码</h2>
            <hr style=" margin-bottom:0px">
          </div>
          <div class="form-group">
            <label>手机号</label>
            <%= f.telephone_field :mobile, class: "form-control", style: "font-size:15px", rel: "popover", required: "required" %>
          </div>
          <div class="form-group">
            <label>验证码</label>
            <div class="input-group">
            <%= f.text_field :auth_code, class: "form-control", style: "font-size:15px", rel: "popover", required: "required" %>
              <span class="input-group-btn">
                <%= link_to "发送验证码", "#", class: "btn btn-greensea", id: "get_code" %>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label>新密码</label>
            <%= f.password_field :new_password, class: "form-control", style: "font-size:15px", rel: "popover", required: "required" %>
          </div>

          <div class="form-group">
            <label>确认新密码</label>
            <%= f.password_field :new_password_confirm, class: "form-control", style: "font-size:15px", rel: "popover", required: "required" %>
          </div>

          <div class="form-group" style="text-align:center;margin-bottom:15px;">
            <%= f.submit "提交", title: "提交", rel: "tooltip", class: "btn-submit btn btn-cyan", style: "padding: 10px 35px;" %>
          </div>
          <div class="text-center hlp-txt hvr-pop" style="padding:0px 10px 0px 0;">
            <%= link_to seller_login_path do %>
              <i class="fa fa-chevron-left"></i> 返回登录
            <% end %>
          </div>
      <% end %>
    </div>
    <!-- /tile body -->
    <div class="tile-footer">

    </div>
  </section>
  <!-- /tile -->
</div>
<script type="text/javascript">

  $('#get_code').click(function(){
    if($("#password_mobile").val() == ""){
      return alert("手机号不能为空");
    }
    $.ajax({
      type: 'POST',
      url: '<%= seller_send_code_path %>',
      data: {
        mobile: function(){
          return $("#password_mobile").val()
        }
      }
    })
  });
</script>
