<div class="col-md-4 col-md-offset-4" style="top: 18%;">
  <!-- tile -->
  <section class="tile color transparent-black">
    <!-- tile header -->
    <div class="tile-header text-center">
      <h1><strong>茂号</strong>运营平台</h1>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body nopadding">
      <%= form_for(:password, url: admin_reset_password_path, method: "post", html: { class: "form-horizontal form-padd", style: "margin:0 auto 4%; padding: 0 50px;" }) do |f| %>

        <div class="form-group">
          <h2 style="font-weight: 300;font-size:18px;">重置密码</h2>
          <hr style=" margin-bottom:0px">
        </div>
        <div class="form-group">
          <label>旧密码</label>
          <%= f.password_field :old_password, class: "form-control", style: "font-size:15px", rel: "popover", required: "required" %>

        </div>

        <div class="form-group">
          <label>新密码</label>
          <%= f.password_field :new_password, class: "form-control", style: "font-size:15px", rel: "popover", required: "required" %>
        </div>

        <div class="form-group">
          <label>确认新密码</label>
          <%= f.password_field :new_password_confirm, class: "form-control", style: "font-size:15px", rel: "popover", required: "required" %>
        </div>

        <div class="form-group" style="text-align:center;margin-bottom:15px;">
            <%= f.submit "提交", title: "提交", rel: "tooltip", class: "btn-submit btn btn-cyan", style: "padding: 10px 35px;" %>
        </div>

        <div class="text-center hlp-txt hvr-pop" style="padding:0px 10px 0px 0;">
          <%= link_to seller_login_path do %>
            <i class="fa fa-chevron-left"></i> 返回登录
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- /tile body -->
    <div class="tile-footer">

    </div>
  </section>
  <!-- /tile -->
</div>



