<div id="wrap">
  <!-- Make page fluid -->
  <div class="row">
    <!-- Page content -->
    <div id="content" class="full-page">
      <div class="col-md-4 col-md-offset-4" style="top: 150px;">
        <!-- tile -->
        <section class="tile color transparent-black">
          <!-- tile header -->
          <div class="tile-header text-center">
            <h1><strong>茂号</strong>商家平台</h1>
          </div>
          <div class="tile-body nopadding">
          <!--   <form class="form-horizontal form-padd" role="form" style="margin:0 auto 4%; padding: 0 50px;" method="post" action=""> -->
            <%= form_for(:session, url: seller_login_path, html: { class: "form-horizontal form-padd", style: "margin:0 auto 4%; padding: 0 50px;" }) do |f| %>
              <div class="form-group">
                <hr style=" margin-bottom:0px">
              </div>
              <div class="form-group">
                <label>手机号</label>
                <%= f.telephone_field :mobile, class: "form-control", style: "font-size:15px", rel: "popover", required: "required", maxlength: 11 %>
              </div>

              <div class="form-group">
                <label>密码</label>
                <%= f.password_field :password, class: "form-control", required: "required", rel: "popover", style: "font-size:15px" %>
              </div>

              <div class="form-group">
                <div class="checkbox check-transparent" style="padding-left: 0px">
                  <%= f.check_box :remember_me, id: "opt01" %>
                  <label for="opt01">一周内自动登录</label>
                  <%= link_to "忘记密码?", seller_forget_password_path, class: "pull-right" %>
                </div>
              </div>

              <div class="form-group" style="text-align:center;margin-bottom:15px;">
                  <%= f.submit "登录", title: "立即登录", rel: "tooltip", class: "btn-submit btn btn-cyan", style: "padding: 10px 35px;" %>
              </div>
            <% end %>
          </div>
          <div class="tile-footer">
          </div>
        </section>
        <!-- /tile -->
      </div>
    </div>
    <!-- /Page content -->
  </div>
</div>
